In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# from sklearn import ?
# from sklearn.metrics import ?

<br>

## 1. Preparing dataset (2Î≤àÎ∂ÄÌÑ∞ Ïã§Ïäµ ÏßÑÌñâ)

In [2]:
data_df = pd.read_csv('titanic.csv')
data_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Data info

- **PassengerId** : Unique ID of passenger
- **Survived** : 0 = No, 1 = Yes
- **pclass** : Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
- **sibsp** : # of siblings & spouses aboard the Titanic
- **parch** : # of parents / children aboard the Titanic
- **ticket** : Ticket number
- **cabin** : Cabin number
- **embarked** : Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

In [3]:
y_data = data_df[['Survived']]
y_data.head(3)

   Survived
0         0
1         1
2         1

In [4]:
del data_df['Survived']
x_data = data_df.copy()
x_data.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

<br>

## 2. Feature engineering & Feature selection

#### ÏãúÎèÑÌï¥Î≥º Ïàò ÏûàÎäî Ï†ÑÎûµÎì§

- Î∂àÌïÑÏöîÌïú Ïó¥Ïù¥ÎÇò ÏòàÏ∏°Ïóê Î∞©Ìï¥Í∞Ä ÎêòÎäî Ïó¥ÏùÄ ÏïÑÏòà ÏßÄÏö∞Í∏∞ (ex. PassengerId)
- Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞ 
- TextÎ°ú ÎêòÏñ¥ÏûàÎäî Category(Factor)Îäî Ïà´ÏûêÎ°ú Î∞îÍøîÏ£ºÍ∏∞ (ex. Male/Female -> 0/1)
- Ïã§Ïàò Î≤îÏúÑÎ•º Íµ¨Í∞Ñ Î≤îÏúÑÎ°ú Î∞îÍøîÏ£ºÍ∏∞ 
- ÌïÑÏöîÌïú Í≤ΩÏö∞ Í∏∞Ï°¥ Ïó¥ÏùÑ Î∞îÌÉïÏúºÎ°ú ÏÉàÎ°úÏö¥ Ïó¥ÏùÑ Í≥ÑÏÇ∞Ìï¥ Ï∂îÍ∞ÄÌïòÍ∏∞

## ÏõêÌïòÎäî Ï†ÑÏ≤òÎ¶¨

### Pclass, Sex(one-hot encoding)
### Age(Min-Max? Standardizatin?)
### Companion(SibSp+parch, Í∞ôÏùÄ Ìã∞Ïºì)
### Fare(Í≥†ÎØº?)
### Embarked(Í≥†ÎØº??)
### Cabin(one hot?)

In [5]:
x_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [6]:
x_data['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

## [AGE]Ïó¥ Í≤∞Ï∏°Ïπò -> Ï§ëÏïôÍ∞í
---

In [7]:
# Í∏∞Î≥∏Ï†ÅÏù∏ Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Îäî Î∞©Î≤ï
mean_age = data_df['Age'].median(skipna=True)
data_df['Age'] = data_df['Age'].fillna(mean_age) # or .fillna(int/float/str Í∞í)

In [8]:
data_df['Age'] = data_df['Age'] /10

## ['Sex']Ïó¥ One-hot encoding

In [9]:
data_df['Sex'] = pd.get_dummies(data_df['Sex']) # ÎÇ®Ïûê 0, Ïó¨Ïûê 1

üìå Î∞∞Ïö∞Ïûê ÌòïÏ†úÎûë Í∞ôÏù¥ ÏûàÏúºÎ©¥ Í∞ôÏù¥ ÌÉàÏ∂ú Í∞ÄÎä•ÏÑ± ÎÜíÏïÑÏßàÏàòÎèÑ?, Î∂ÄÎ™®ÏûêÏãùÏù¥Î©¥ ÎäêÎ†§Ïßà ÏàòÎèÑ? 

## ['Companion'] Ïó¥ ÎßåÎì§Í∏∞
['SibSp'] Î∞∞Ïö∞Ïûê, ÌòïÏ†ú + ['Parch'] Î∂ÄÎ™® ÏûêÏãù  
['Ticket'] Ï§ëÎ≥µÏãú ÏπúÍµ¨?? ÏùºÌñâ Í∞ÄÎä•ÏÑ±?

In [10]:
# x_data['Companion'] = x_data['SibSp'] + x_data['Parch']
# del x_data['SibSp']
# del x_data['Parch']

In [11]:
count_dict

NameError: name 'count_dict' is not defined

In [ ]:
#Ìã∞Ïºì Ï§ëÎ≥µ Ïà´Ïûê ÏÑ∏Í∏∞
count_dict = dict(data_df['Ticket'].value_counts())
#SibSp, Parch ÎëòÎã§ 0 Ïù¥Í≥† Ìã∞Ïºì ÎÑòÎ≤Ñ Í∞ôÏùÄ Í≤ÉÎèÑ ÏóÜÏùÑ Í≤ΩÏö∞ ÏùºÌñâ ÏóÜÎäî Í≤ÉÏúºÎ°ú Í∞ÑÏ£ºÌïòÍ≥† 0, ÎÇòÎ®∏ÏßÄÎäî 1(ÏùºÌñâÏûàÏùå)
data_df['Companion'] = [0 if data_df['SibSp'][x] == 0 and data_df['Parch'][x] == 0 and count_dict[data_df['Ticket'][x]] == 1 else 1 for x in data_df.index ]

In [ ]:
data_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Companion
0,1,3,"Braund, Mr. Owen Harris",0,2.2,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,3.8,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",1,2.6,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,3.5,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",0,3.5,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",0,2.7,0,0,211536,13.0000,NaN,S,0
887,888,1,"Graham, Miss. Margaret Edith",1,1.9,0,0,112053,30.0000,B42,S,0
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,2.8,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,"Behr, Mr. Karl Howell",0,2.6,0,0,111369,30.0000,C148,C,0
890,891,3,"Dooley, Mr. Patrick",0,3.2,0,0,370376,7.7500,NaN,Q,0

## ['Fare']Ïó¥ ÏûêÎ¶øÏàò ÎßûÏ∂îÍ∏∞

In [ ]:
data_df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
data_df['Cabin'] = ~data_df['Cabin'].isnull()

In [ ]:
data_df['Cabin'] = data_df['Cabin'].astype(int)

## ÌïÑÏöîÌïú Ïó¥Îßå ÎΩëÏïÑÎÇ¥Îäî Í≥ºÏ†ï

In [ ]:
x_data = data_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']]

x_data

     Pclass  Sex  Age  SibSp  Parch     Fare  Cabin Embarked
0         3    0  2.2      1      0   7.2500      0        S
1         1    1  3.8      1      0  71.2833      1        C
2         3    1  2.6      0      0   7.9250      0        S
3         1    1  3.5      1      0  53.1000      1        S
4         3    0  3.5      0      0   8.0500      0        S
..      ...  ...  ...    ...    ...      ...    ...      ...
886       2    0  2.7      0      0  13.0000      0        S
887       1    1  1.9      0      0  30.0000      1        S
888       3    1  2.8      1      2  23.4500      0        S
889       1    0  2.6      0      0  30.0000      1        C
890       3    0  3.2      0      0   7.7500      0        Q

[891 rows x 8 columns]

<br>

## 2. Train - Test split (ÎπÑÏú®ÏùÑ 7:3 ÏúºÎ°ú Ïú†ÏßÄÌï¥Ï£ºÏãúÍ≥†, seedÎäî 0ÏùÑ Ï†ÅÏö©Ìï¥Ï£ºÏÑ∏Ïöî)

In [ ]:
from sklearn import datasets, model_selection, linear_model

In [12]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_data, y_data, test_size=0.3, random_state=0)

NameError: name 'model_selection' is not defined

In [13]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

NameError: name 'x_train' is not defined

In [14]:
model = linear_model.LogisticRegression() # Î°úÏßÄÏä§Ìã±ÌöåÍ∑Ä

NameError: name 'linear_model' is not defined

In [207]:
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'S'

In [ ]:
x_test[:]

     Pclass  Sex  Age  SibSp  Parch      Fare  Cabin
495       3    0  2.8      0      0   14.4583      0
648       3    0  2.8      0      0    7.5500      0
278       3    0  0.7      4      1   29.1250      0
31        1    1  2.8      1      0  146.5208      1
255       3    1  2.9      0      2   15.2458      0
..      ...  ...  ...    ...    ...       ...    ...
263       1    0  4.0      0      0    0.0000      1
718       3    0  2.8      0      0   15.5000      0
620       3    0  2.7      1      0   14.4542      0
786       3    1  1.8      0      0    7.4958      0
64        1    0  2.8      0      0   27.7208      0

[268 rows x 7 columns]

In [ ]:
from sklearn.metrics import accuracy_score # accuracy

print('Accuracy: ', accuracy_score(model.predict(x_test), y_test))

Accuracy:  0.8171641791044776

<br>

## 3. Create model instance variable (ÎèôÏãúÏóê Ïó¨Îü¨ Î™®Îç∏ÏùÑ Îã§Î•∏ Ïù¥Î¶ÑÏúºÎ°ú ÎßåÎì§ Ïàò ÏûàÏäµÎãàÎã§.)

<br>

## 4. Train the model

<br>

## 5. Predict on test data & Check the result with metrics (Î™®Îç∏ Í∞Ñ ÎπÑÍµêÍ∞Ä Í∞ÄÎä•Ìï©ÎãàÎã§.)